<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include header.html %}
    <div class="coupangadsbydveamer"
     style="display:block;"
     data-csda-ltag="AF9316002"
     data-csda-categories="000000"
     data-csda-size="auto"></div>
    <div class="page-content">
        {{ content }}
    </div>
    <div class="coupangadsbydveamer"
     style="display:block;"
     data-csda-ltag="AF9316002"
     data-csda-categories="000000"
     data-csda-size="auto"></div>
    {% include footer.html %}

  </body>

</html>
